<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Food Menu</title>
    
</head>
<body>
    <h1>Welcome to Ecanteen Service Portal</h1>
<br>

<img src="https://previews.123rf.com/images/julos/julos1607/julos160753560/82806412-cartoon-chef-pointing-downward.jpg" class="menu-image">
<h2>Menu</h2>

    <main>
        <section id="card-container" class="card-container">
            <% foods.forEach(function(food) { %>
                <div class="card">
                    <img src="<%= food.image %>" alt="<%= food.foodname %>" class="card-img">
                    <div class="card-content">
                        <h3 class="card-title"><%= food.foodname %></h3>
                        <p class="card-price">₹<%= food.price.toFixed(2) %></p>
                        <p class="card-description"><%= food.description %></p>
                        <form action="/place-order" method="post" class="food-form">
                            <input type="hidden" name="foodId" value="<%= food._id %>">
                            <button type="button" class="card-button" onclick="showPopup()">Add to Cart</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </section>
    </main>

    <div id="popup" class="popup">
        <h2>You need to <a href="/login">login</a> to add items to the cart.</h2>
        <button onclick="hidePopup()">Close</button>
    </div>

    <script>
        function showPopup() {
            document.getElementById('popup').classList.add('show');
        }

        function hidePopup() {
            document.getElementById('popup').classList.remove('show');
        }

        // Automatically hide the popup after redirecting to the login page
        if (window.location.pathname === '/login') {
            hidePopup();
        }
    </script>
</body>
</html>
