<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Menu</title>
    <link rel="stylesheet" href="/styles/menu.css">
     <!-- Link to your navbar CSS -->
</head>
<body>
    <nav class="navbar">
        <div class="logo">Foodie</div>
        <ul class="nav-links">
            <li><a href="/food-home">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/orders">Orders</a></li>

            
           
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Today's Menu</h1>
        <div>
            <% foods.forEach(food => { %>
                <div class="food-item">
                    <% if (food.image) { %>
                        <img src="<%= food.image %>" alt="<%= food.foodname %>">
                    <% } %>
                    <h2><%= food.foodname %></h2>
                    <p>Price: ₽<%= food.price %></p>
                    <p>Description: <%= food.description %></p>
                    <form action="/update-availability" method="post">
                        <input type="hidden" name="foodId" value="<%= food._id %>">
                        <select name="availability">
                            <option value="Available" <%= food.availability === 'Available' ? 'selected' : '' %>>Available</option>
                            <option value="Not Available" <%= food.availability === 'Not Available' ? 'selected' : '' %>>Not Available</option>
                        </select>
                        <button type="submit">Update Availability</button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>

    <!-- Add Font Awesome CDN for the bell icon if needed -->
    
</body>
</html>
